* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
}

html {
  height: 100%;
}

body {
  color: white;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-size: cover;
}

a {
  color: lightblue;
}

main {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

.panel,
.vbox,
.hbox,
input {
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.panel {
  padding: 20px;
  max-width: 1024px;
  background: linear-gradient(90deg, #0005, #fff5);
  backdrop-filter: blur(4px);
}

.vbox,
.hbox,
input {
  margin: 5px;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.2);
}

.vbox:hover,
.hbox:hover,
input:hover {
  background-color: rgb(0, 0, 0, 0.3);
  transition: background-color 0.2s ease-in-out;
}

.panel,
.vbox {
  flex-direction: column;
}

.invisible {
  background: none;
  backdrop-filter: none;
  box-shadow: none;
}

.invisible:hover {
  background: none;
}

input {
  color: white;
  border-width: 0px;
  background-color: transparent;
  box-shadow: 0px 0px 0px transparent;
}

input::placeholder {
  color: white;
}

.checkbox {
  margin: 0px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

#nav-placeholder {
  position: sticky;
  top: 0px;
  z-index: 100;
}